# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files


# Android# Builds
*.apk
*.apks
*.aab
*.ipa
android/app/build
android/app/release
ios/build/


# dependencies
node_modules/
Yann Website/
Yann_app/
Yann app/
Yann-Website/
# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# EAS
service-account-key.json
*.keystore
dhfcghvjkbnlkm

# Local SDKs and JDKs
.jdk/
.android-sdk/

# Google Cloud credentials
yann-home-f55c5-d18b7b22672b.json
# Exclude all JSON files except the ones needed for the project
*.json
!package.json
!package-lock.json
!tsconfig.json
!app.json
!eas.json
!google-services.json
!GoogleService-Info.plist
!src/i18n/locales/*.json
!assets/lottie/*.json


